<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Réinitialisation mot de passe</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="resetPasswordForm.invalid">Réinitialiser mon mot de passe</button>
    </form>
    <div *ngIf="errorMessage || successMessage">
    	<p class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    	<p class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</p>
	</div>
  </div>
</div>
